/* INDEX */
@import "./base/variables";
@import "./base/extend";
/* Contenedor de Imagen */
.fondo{
    margin: 10px;
    padding: 10px;
}
/* Subtitulo */

.subtitulo__Index{
    @extend %subtitulo;
}
/* Imagen Superior */
.fondo__1{
    width: 500px;
    height: 490px;
    padding: 10px 10px 10px 10px;
    margin: 0px;
    float: left;
    border-radius: 15px;
}
/* Texto */
.textomain{
    text-align: justify;
    font-size: 25px;
    padding: 10px;
    }
/* Imagen inferior */
.ultimamoda{
    float: right;
}

.ultimamoda__img{
    float: right;
    width: 700px;
    height: 390px;
    padding: 10px;
    margin: 0px 10px;
    border-radius: 15px;
}
/* Texto de Imagen Inferior */
.h3__moda{
    @include moda (50px ,#000000, 300)
}

.ultimamoda__p{
    text-align: center;
    color: #000000;
    font-size: 25px;
    font-weight: 600;
}

.ultimamoda__p2{
    margin: 0px;
    padding: 0px;
    text-align: right;
    color: #000000;
    font-size: 13px;
}

@media (max-width: 320px){
    /* Index */
    .fondo__1{
        width: 300px;
        height: 200px;
        border-radius: 15px;
    }
    .ultimamoda{
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .h3__moda{
        align-items: center;
        text-align: center;
        justify-content: center;
        font-size: 40px ;   
    }

    .ultimamoda__img{
        width: 300px;
        height: 200px;
        border-radius: 15px;    
    }

    .ultimamoda__p2{
        margin-right: 10px;
        padding: 0px;
        text-align: right;
        color: #000000;
        font-size: 10px;
    }

    /* Preguntas Frecuentes */
    .subtitulo{
    font-size: 50px;
    font-weight: 300;
    margin-top: 0px;
    padding: 0%;
    }
    .ultimamoda__p{
        font-size: 15px;
    }
 
}

@media (min-width: 320px){
    /* Index */
    .fondo__1{
        width: 300px;
        height: 250px;
        border-radius: 15px;
    }
    .ultimamoda{
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .h3__moda{
        align-items: center;
        text-align: center;
        justify-content: center;
        font-size: 40px ;   
    }

    .ultimamoda__img{
        width: 300px;
        height: 200px;
        border-radius: 15px;    
    }

    .ultimamoda__p2{
        margin-right: 10px;
        padding: 0px;
        text-align: right;
        color: #000000;
        font-size: 10px;
    }

    /* Preguntas Frecuentes */
    .subtitulo{
    font-size: 50px;
    font-weight: 300;
    margin-top: 0px;
    padding: 0%;
    }
    .ultimamoda__p{
        font-size: 15px;
    }
 
}

@media (min-width: 550px){
    .fondo__1{
        width: 350px;
        height: 300px;
        border-radius: 15px;
    }
    .ultimamoda__img{
        width: 500px;
        height: 300px;
        border-radius: 15px;    
    }
}

@media (min-width: 900px){
    .fondo__1{
        width: 500px;
        height: 490px;
        border-radius: 15px;
    }
    .ultimamoda__img{
        width: 700px;
        height: 390px;
        border-radius: 15px;    
    }
}