.mapa{
    margin: 0 auto;
    width: 400px;
    height: 400px;
    display: flex;
    border-radius: 5px;
    border: solid 0.5px rgb(191, 191, 191);
    justify-content: center;
    margin-bottom: 50px;
}

@media (max-width: 430px){
    .mapa{
        width: 300px;
        height: 300px;
        }   
}